attrs==21.4.0
boto3==1.21.0
botocore==1.24.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
click==8.0.3
filetype==1.0.10
Flask==2.0.2
Flask-Cors==3.0.10
flask-request-validator==4.2.0
google-api-core==2.5.0
google-auth==2.6.0
google-cloud-vision==2.6.3
googleapis-common-protos==1.54.0
greenlet==1.1.2
grpcio==1.44.0
grpcio-status==1.44.0
gunicorn==20.1.0
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
MarkupSafe==2.0.1
mod-wsgi==4.9.0
Naked==0.1.31
numpy==1.22.1
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pluggy==1.0.0
proto-plus==1.20.3
protobuf==3.19.1
psutil==5.9.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycrypto==2.6.1
pyheif==0.6.1
PyMySQL==1.0.2
pyparsing==3.0.7
PyPika==0.48.8
pytest==6.2.5
pytest-html==3.1.1
pytest-metadata==1.11.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
rsa==4.8
s3transfer==0.5.1
scikit-learn==1.0.2
scipy==1.7.3
shellescape==3.8.1
six==1.16.0
slack-sdk==3.13.0
soynlp==0.0.493
threadpoolctl==3.1.0
toml==0.10.2
urllib3==1.26.8
Werkzeug==2.0.2
